@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
  text-decoration: none;
  font-size: $bodyFontSize;
  color: $darkShade50;
  line-height: 17px;
  letter-spacing: 0.1em;
  &:hover {
    color: $darkShade75;
    font-weight: bold;
  }
  &:active {
    color: $darkShade75;
    font-weight: bold;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

section, .section {
  position: relative;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

// My global styles
input::placeholder {
  color: $darkShade75;
  font-size: 0.75em;
}

// Datepicker
.datepicker--nav {
  border-bottom: 0px;
}
.datepicker--pointer {
  display: none;
}
.datepicker--nav-action svg {
  fill: red;
}
.datepicker--day-name {
  color: $purple;
  font-weight: bold;
  font-family: $mainFont;
}
.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}
.datepicker--cell.-selected- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}
.datepicker--cell.-focus- {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
}
.datepicker--cell.-selected-, .datepicker--cell.-range-to- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}
.datepicker--cell:hover {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}
.datepicker--cell:focus, .datepicker--cell:visited {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}


// Price range slider
.slider.slider-horizontal {
  width: 80%;
  // margin-top: 16px;
  margin-bottom: 10px;
}
.slider.slider-horizontal .slider-track {
  height: 6px;
  margin-top: -3px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: none;
}
.slider-selection {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}
.slider-handle {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}