// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.svg') format('svg'),
       url('/assets/fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype'), 
       url('/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: "Quicksand";
  src: url('/assets/fonts/Quicksand/Quicksand-Regular.svg') format('svg'),
       url('/assets/fonts/Quicksand/Quicksand-Regular.ttf')  format('truetype'), 
       url('/assets/fonts/Quicksand/Quicksand-Regular.woff') format('woff');
  font-weight: normal; 
  font-style: normal; 
}
