// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$titleFont: 'Quicksand', Helvetica, Arial, sans-serif;

// Size
$bodyFontSize: 0.875em;
$bodyLineHeight: 1.5em;
$h1FontSize: 1.5em;
$h1FontWeight: bold;
$h1LineHeight: 30px;
$h2FontSize: 19px;
$h2FontWeight: bold;
$h2LineHeight: 1.5em;
$h3FontSize: 0.75em;
$h3FontWeight: bold;
$h3LineHeight: 15px;
$h3TextTransform: uppercase;
$mainFontSize: 0.875em;
$lessFontSize: 0.75em;
$mainLineHeight: 1.4;
$mainFontWeight: normal;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Color
$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$mainFontColor: #1F2041;
